*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image:linear-gradient(#071952, hsl(0, 2%, 75%));
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 9px;
    padding-top: 11px;
}
.dash{
    display: flex;
    width: 100%;
    gap: 15px;
    padding-left: 12px;
    /* padding-top: 35px; */
}
.bars{
    margin-left: 15px;
    
}
.leftside{
    width: 20%;
    height: 609px;
    background-color: hsl(0, 0%, 89%);
    border-radius: 11px;
    padding-left: 14px;
    padding-top: 25px;
    transition: ease-in-out 0.2s;
    overflow: hidden;
}
.class{
    /* opacity: 0; */
    visibility: hidden;
    width: 0;
    transition: ease-in-out 0.5s;
    overflow: hidden;
}
.companyname{
    overflow: hidden;
    height: 50px;
    width: 90%;
    border-radius: 11px;
    background-color: #ebf4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    box-shadow: 7px 5px 19px;
}
.t{
    display: flex;
    align-items: last baseline;
}
.userprofile{
    height: 140px;
    width: 90%;
    background-color: #ebf4f6;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: 4px 1px 20px;
}
.userprofile .icon{
    height: 75px;
    width: 75px;
    background-color: #071952;
    color: #ebf4f6;
    border-radius: 35px;
    font-size: 50px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    margin-bottom: 12px;
    padding-bottom: 7px;
}
a{
    text-decoration: none;
    color: #000000;
}
.userprofile:hover{
    background-color: #c2bebe;
}
.links{
    gap: 21px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.links a{
    text-decoration: none;
    color: #071952;
}
.r{
    margin-bottom: 50px;
}
.svg{
    height: 20px;
    width: 20px;
}
.dis{
    display: flex;
    gap: 12px;
    align-items: center;
}
.logout{
    gap: 15px;
    display: flex;
    color: #646464;
    margin-top: 40px;
}
.right{
    display: flex;
    /* border: 1px solid black; */
    /* align-items: center; */
    height: 608px;
    border-radius: 15px;
    /* min-width: 77%; */
    width: 100%;
    /* justify-content: center; */
    background-color: #010e36;
    /* box-shadow: 12px 11px 30px; */
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 39px;
    /* transition: ease-in-out 0.2s; */
}
.t h3{
    color: #000000;
}
.t h4{
    color: #071952;
}
.pin{
    height: 550px;
    width: 70%;
    /* border: 1px solid rgb(0, 145, 48); */
    gap: 65px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color:#ebf4f6;
    margin: auto;
    /* box-shadow: 12px 11px 30px; */
}
.top{
    height: 150;
    width: 100%;
    /* border: 1px solid rgb(252, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    justify-content: center;
    padding-top: 20px;
}
.boxes{
    display: flex;
    gap: 12px;
}
.pCode{
    height: 60px;
    border-radius: 15px;
    width: 60px;
    /* border: none; */
    padding-left: 25px;
    font-size: 20px;
}
.buttom{
    height: 150;
    width: 100%;
    /* border: 1px solid rgb(55, 0, 107); */
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-left: 25%;
    padding-right: 20%;
    gap: 20px;
}
.btn{
    /* height: 30px;
    width: 35px; */
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    background-color: #071952;
    color: #ebf4f6;
    border: none;
}
@media print {
    .leftside {
        display: none;
    }
    .bars{
        display: none;
    }
}