*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    width: 100%;
    /* background: url(assets/images/pexels-tranmautritam-245032.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}
.container{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(167, 166, 166);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 30%;
    overflow: hidden;
}
.container .form-box{
    width: 100%;
    padding: 40px;
}
.container .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 49px;
    background: #00071d;
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 24px;
    cursor: pointer;
    z-index: 1;

}
.form-box h2{
    font-size: 2em;
    color: #00071d;
    font-family: Impact, sans-serif;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #00071d;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #00071d;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #00071d;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #00071d;
}
.remember-forgot{
    font-size: .9em;
    color: #00071d;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #00071d;
    margin-right: 3px;
}
.remember-forgot a{
    color: #00071d;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #00071d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #00071d;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #00071d;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 475px){
    body{
        height: 100vh;
        background-color: rgb(216, 216, 216);
        backdrop-filter: blur(15px);
    }
    body img{
        height: 500px;
        width: 100%;
        position: absolute;
        top: 15%;
        background-size: cover;
        background-position: center;
    }
    .container{
        left: 6%;
        width: 90%;
        top: 20%;
    }
    
}