@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    /* backdrop-filter: blur(3px); */
    background: url(assets/images/wallpaperflare.com_wallpaper\ \(4\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    /* backdrop-filter: blur(7px); */
    /* background: url(/assets/images/download.jpg) no-repeat; */
    /* opacity: 0.4; */
    /* border: 4px solid black; */
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
}
.sidebar{
    position: absolute;
    backdrop-filter: blur(9px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    /* opacity: 0.9; */
    /* border: 2px solid red; */
}
.sidebarr{
    position: fixed;
    backdrop-filter: blur(30px);
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: transparent;
    border-right: 3px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarr .logo-menu{
    height: 70px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    /* background: rgb(212, 212, 212); */
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 30px;
    box-shadow: rgb(0, 0, 0, 0.35)0px 10px 25px;
}
.sidebarr .logo-menu img{
    height: 30px;
    width: 30px;
}
.sidebarr .logo-menu h3{
    color: rgb(255, 255, 255);
}
.sidebarr .profile{
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* background: rgb(212, 212, 212); */
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 30px;
}
.sidebarr .profile  img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}
.sidebarr .profile h2{
    color: rgb(255, 255, 255);
    margin-left: 8px;
}
.sidebarr .profile a{
text-decoration: none;
}
.list{
    height: 58%;
    width: 70%;
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}
.toggle-btn{
    height: 30px;
    width: 30px;
    /* border: 1px solid red; */
    /* top: 0px; */
    margin-left: 80%;
}
.sidebarr .toggle-btn{
  font-size: 30px;
}
.list .list-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 7px;
    /* justify-content: center; */
}
.list .list-item{
        /* height: 30px; */
        /* width: 20%; */
        /* font-size: 11px; */
        border: none;
        /* border-radius: 16px; */
        /* background-color: rgb(42, 0, 82); */
        /* color: #e2e2e2; */
        transition: .5s ease;
}
.list .list-item:hover{
    background: transparent;
    border: 1px solid white;
    transform: scale(1.1);
}
.last{
    margin-top: 40px;
    background: rgb(255, 0, 21);
    opacity: 0.5;
    width: 70%;
    height: 29px;
    padding-left: 10px;
    padding-top: 3px;
    /* text-align: center; */
    /* display: flex; */
    /* align-items: center; */
    border-radius: 23px;

}
.last .link-name{
    color: rgb(69, 0, 0);
    font-weight: 600;
}
.dashboard{
    height: 100vh;
    width: 77.4%;
    position: absolute;
    top: 0;
    left: 22.5%;
    border: 2px solid red;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    /* display: none; */
    backdrop-filter: blur(18px);
    transform: translateX(1040px);
}
.deposite{
    height: 100vh;
    width: 77.4%;
    position: absolute;
    top: 0;
    left: 22.5%;
    border: 2px solid rgb(52, 0, 197);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    /* display: none; */
    /* background: linear-gradient(rgb(247, 247, 247), rgb(213, 213, 213), rgb(187, 187, 187)); */
    backdrop-filter: blur(18px);
    transform: translateX(1040px);
}
.print{
    height: 100vh;
    width: 77.4%;
    position: absolute;
    top: 0;
    left: 22.5%;
    border: 2px solid rgb(255, 0, 221);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    /* display: none; */
    /* backdrop-filter: blur(18px); */
    transform: translateX(1040px);
}
.withdraw{
    height: 100vh;
    width: 77.4%;
    position: absolute;
    top: 0;
    left: 22.5%;
    border: 2px solid rgb(0, 255, 55);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    /* display: none; */
    /* backdrop-filter: blur(18px); */
    transform: translateX(1040px);
}
.report{
    height: 100vh;
    width: 77.4%;
    position: absolute;
    top: 0;
    left: 22.5%;
    border: 2px solid rgb(204, 255, 0);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    /* display: none; */
    /* backdrop-filter: blur(18px); */
    transform: translateX(1040px);
}
.settings{
    height: 100vh;
    width: 77.4%;
    position: absolute;
    top: 0;
    left: 22.5%;
    border: 2px solid rgb(0, 204, 255);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    /* display: none; */
    /* backdrop-filter: blur(18px); */
    transform: translateX(1040px);
}
.class .print{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}
.classs .print{
    transform: translateX(1040px);
    transition-delay: 0.9s;
}
.container .dashboard{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}
.container.active .dashboard{
    transform: translateX(1040px);
    transition-delay: 0s;
}
.container .deposite{
    transform: translateX(1040px);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.container.active .deposite{
    transform: translateX(0);
    transition-delay: 0.9s;
}
/* .container .print{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}
.container.active .print{
    transform: translateX(1040px);
    transition-delay: 0s;
} */